<main class="container">
    <section class="row">
        <div class="card">
            <form>
                <div class="form-group">
                    <button type="button" id="add-transaction-btn">Add Transaction</button>
                </div>
            </form>
            <div>
                <h2>Total Balance</h2>
                <p>{{total_balance}}</p>  <!-- Ensure total_balance is passed correctly -->
            </div>
            <div>
                <h2>Transaction History</h2>
                <ul>
                    {{#each transactions}}
                        <li>
                            {{this.name}} - ${{this.amount}} - {{this.transactionType}} - {{this.categoryName}} - {{this.date}}
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div>
                <h2>Transaction Graph</h2>
                <section class="row" style="width: 100%; margin-top: 20px;">
                    <article class="col-12">
                        <canvas id="expense-chart"></canvas>
                    </article>
                </section>
            </div>
        </div>
    </section>
</main>

<script src="/js/dashboard.js"></script>