<main class="container">
    <section class="row">
        <div class="card">
            <div>
                <h1 class="text-xl py-2 underline font-bold">Welcome, <span class="user-name">{{first_name}} {{last_name}}</span></h1>
                <p>{{total_balance}}</p>  <!-- Ensure total_balance is passed correctly -->
            </div>
            <div>
                <h2 class="text-xl py-2 underline">Transaction History</h2>
                <table class="transaction-table">
                    <thead>
                        <tr>
                            <th>Transaction Name</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Category</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each transactions}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>${{this.amount}}</td>
                                <td>{{this.transactionType}}</td>
                                <td>{{this.categoryName}}</td>
                                <td>{{this.date}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div>
                <h2 class="text-xl py-2 underline">Transaction Graph</h2>
                <section class="row" style="width: 100%; margin-top: 20px;">
                    <article class="col-12">
                        <canvas id="expense-chart"></canvas>
                    </article>
                </section>
            </div>
            <form>
                <div class="form-group">
                    <br>
                    <br>
                    <button type="button" id="add-transaction-btn">Add Transaction</button>
                </div>
            </form>
        </div>
    </section>
</main>

<script src="/js/dashboard.js"></script>
<script src="/js/transaction-chart.js"></script>