<main class="container">
    <section class="row">
        <article class="col-12">
            <div class="card"> {{!-- Do we need the main container in each handlebar? Or is just the div container enough? --}}
                <h2>Add Transaction</h2>
                <form id="add-transaction">
                    <div>
                        <label for="transaction-name">Name:</label>
                        <input type="text" id="transaction-name" placeholder="Enter transaction name">
                    </div>
                    <div>
                        <label for="transaction-amount">Amount:</label>
                        <input type="number" id="transaction-amount" placeholder="Enter transaction amount">
                    </div>
                    <div>
                        <label for="transaction-category">Category:</label>
                        <select id="transaction-category">
                            {{#each categories}}
                            <option value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{!-- Recurring checkbox would go here (recurring value not in the model) --}}
                </form>
            </div>
        </article>
    </section>
    <section class="row">
        <article class="col-12">
            <div class="card">
                <h2>Transaction Notes</h2>
                <form id="transaction-notes-form">
                    <div class="form-group">
                        <label for="transaction-notes">Add a note:</label>
                        <input type="text" id="transaction-notes" placeholder="Enter the transaction notes">
                    </div>
                </form>
            </div>
        </article>
    </section>

    <section class="row">
        <article class="col-12">
            <div id="submit-btn" class="flex">
            <button type="submit" id="submit-transaction" value="Submit Transaction">Submit</button>
            </div>
        </article>
    </section>

    <section>
        <div class="card">
        <h2>Transaction History</h2>
        <ul>
            {{#each transaction}}
            <li>
                <section class="row">
                    <article class="col-6">
                        <p>Name: {{transaction.name}}</p>
                        <p>Category: {{transaction.category}}</p>
                    </article>
                    <article class="col-6">
                        <p>Amount: {{transaction.amount}}</p>
                        <p>Date: {{transaction.date}}</p>
                    </article>
                </section>
            </li>
            {{/each}}
        </ul>
        </div>
    </section>
    <script src="public/js/transaction.js"></script>
    <script src="public/js/transaction-chart.js"></script>
</main>